
{% extends "base_template.html" %}
{% block content %}
<div class="signup-form">
    <h1>Moonpie Mining Corp.</h1>
    <form action="aanmelden" method="post">
		{{ form.hidden_tag() }}
		<h2>Hier aanmelden</h2>
		<p>Vul het onderstaande formulier in om een account aan te maken.</p>
		<hr>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
				{{ form.u_name(class="form-control",placeholder=form.u_name.label.text) }}
			</div>
        </div>
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
				{{ form.u_email(class="form-control",placeholder=form.u_email.label.text) }}
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock"></i></span>
				{{ form.u_pass(class="form-control",placeholder=form.u_pass.label.text) }}
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="fa fa-lock"></i>
					<i class="fa fa-check"></i>
				</span>
				{{ form.u_pass_check(class="form-control",placeholder=form.u_pass_check.label.text) }}
			</div>
        </div>
        <div class="form-group">
			<label class="checkbox-inline"><input type="checkbox" required="required"> Ik doe afstand van al mijn rechten op privacy of geheimhouding</label>
		</div>
		<div class="form-group">
			{{ form.u_submit(class="btn btn-primary btn-lg") }}
        </div>
    </form>
	<div class="text-center">Al een account op onze site? <a href="login">Login hier</a></div>
</div>

{% endblock %}