
    <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Alle mineralen</title>
     <link rel="stylesheet" 	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 	integrity="sha384-	WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" 	crossorigin="anonymous">
  </head>
  <body>

<div id="main" class="container">
  <h1>Welcome to Moonpie Mining Corp.</h1>

  <table>
    <tr>
      <th>Naam</th>
      <th>Mollmassa</th>
      <th>Formule</th>
    </tr>
    
<tr><td>diopside</td><td>216.55</td><td>MgCaSi_2O_6</td></tr>
<tr><td>feldspar</td><td>818.76</td><td>KAlSi_3O_8 – NaAlSi_3O_8 – CaAl_2Si_2O_8</td></tr>
<tr><td>ilmenite</td><td>151.71</td><td>FeTiO_3</td></tr>
<tr><td>olvine</td><td>203.77</td><td>(Mg,Fe)2SiO4</td></tr>
</table>

</div> <!-- main -->

</body></html>
