{% extends "base_template.html" %}

{% block content %}
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header" style="color:gold">

<h1>Welkom bij Moonpie Mining Corp.</h1>
<p>Zie <a href="https://www.trouw.nl/wetenschap/goudkoorts-op-de-maan-er-begint-een-nieuwe-race-om-grondstoffen~b361085c/">hier het artikel</a> waar deze geweldige site op is gebaseerd.</p>

<p>Hieronder wat links: </p>

<ol>
    <li><a href="login">Inloggen</a></li>
    <li><a href="aanmelden">Aanmelden</a></li>
    <li><a href="bestellen">Productenpagina</a></li>
</ol>

            </div><!-- card header-->
    </div><!-- card-->
</div><!-- d-flex -->

{% endblock %}