{% extends "base_template.html" %}

{% block content %}
    <main role="main" style="color:black">
      <section class="text-center">
        <div class="container">
          <img src="/static/imgs/moonpie.jpeg" class="img-thumbnail" style="width:20vw;" alt="">
          <h1 class="jumbotron-heading">Moonpie Mining Corp.</h1>
          <p class="lead text-muted">We mine the moon, you get the minerals.</p>
          <p>
            {% if current_user.is_authenticated %}
            <h2>Welkom, {{ user}}</h2>
            <a href="#" class="btn btn-primary my-2">Place order</a>
            <a href="logout" class="btn btn-secondary my-2">Log out</a>
            {% else %}
            <a href="login" class="btn btn-primary my-2">Login</a>
            {% endif %}
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">

{% for d in data %}

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="/static/imgs/{{d['name']}}.jpeg" alt="Diopside">
                <div class="card-body">
                  <p class="card-text">{{ d['description'] }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                    </div>
                    <small class="text-muted">k€ {{ d['price'] }}</small>
                  </div>
                </div>
              </div>
            </div>

{% endfor %}

          </div>
        </div>
      </div>

    </main>

    {% endblock %}
